/*#headerdiv {

    text-align: center;
    padding: 20px;
    height: 30px;
}

#headerdiv h2{
    color: white;
    text-align: left;
    margin: 5px;
}*/

.layout {
  width: 100%;
    background-color: deepskyblue;
  display: flex;
  gap: 16px;
}

.headerdiv
{
    flex-grow: 1;
    color:white;
    padding: 20px;
}

.logineduserdiv
{
    flex-grow: 1;
    text-align:right;
    color:white;
    padding: 20px;
}

#navigatordiv {
  overflow: hidden;
  background-color: #f2f2f2;
}

#navigatordiv a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigatordiv a:hover {
    background-color: deepskyblue;
    color: black;
}

.table{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border:0;
    cellpadding:1;
    cellspacing:2;
}

.table th{
    background:deepskyblue;
    color:white;
}

.table td{
    text-align:center;
}

.carttable{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align:center;
}

.carttable td{
    width: auto;
}

.button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}

.centercontext{
    display: block;
    width:50%;
    padding:0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}