<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szűrés</title>
</head>
<tbody>
<form action="filter">
    <table>
        <tr>
            <td>Márka</td><td>Kategória</td><td>Üzemanyag</td>
        </tr>
        <tr>
            <td><select name="brandfilter" id="brand-select">
                <option value="" selected="true">Összes</option>
                <option value="MERCEDES">Mercedes</option>
                <option value="FORD">Ford</option>
                <option value="TOYOTA">Toyota</option>
                <option value="VOLKSWAGEN">Volkswagen</option>
            </select></td>
            <td><select name="categoryfilter" id="category-select">
                <option value="" selected="true">Összes</option>
                <option value="CAR">Személyautó</option>
                <option value="VAN">Kisteher</option>
                <option value="MINIBUS">Kisbusz</option>
            </select></td>
            <td><select name="fuelfilter" id="fuel-select">
                <option value="" selected="true">Mindegy</option>
                <option value="PETROL">Benzin</option>
                <option value="DIESEL">Dízel</option>
                <option value="ELECTRIC">Elektromos</option>
            </select></td>
            <td>
                <input type="submit" value="Szűrés">
            </td>
        </tr>
    </table>
</form>
<form action="filter">
    <table border="1">
        <tr><td>Márka</td><td>Típus</td><td>Kategória</td><td>Üzemanyag</td><td>Ár</td><td>Elérhető</td></tr>
        <tr th:each="car: ${filteredcars}">
            <td th:text= ${car.brand.name} />
            <td th:text="${car.type}" />
            <td th:text="${car.category}" />
            <td th:text="${car.fuel}" />
            <td th:text="${car.price}" />
            <td>
                <span th:if="${car.avaible == true}" th:text="igen"/>
                <span th:if="${car.avaible == false}" th:text="nem"/>
            </td>
            <td>
                <span th:if="${car.avaible} == true">
                    <a th:href="@{/filter(cartocart=${car.plate},
                        brandfilter=${brandfilter},
                        categoryfilter=${categoryfilter},
                        fuelfilter=${fuelfilter})}">foglalás</a>
                </span>
            </td>
        </tr>
    </table>
</form>
<form action="finalrent">
    <table>
        <td><h3>Kiválasztott járművek száma:</h3></td>
        <td>
            <span th:if="${countofcarsincart} == null" th:text="0"/>
            <span th:unless="${countofcarsincart} == 0" th:text="${countofcarsincart}"/>
        </td>
    </table>
    <input type="submit" value="Véglegesítés">
</form>
</tbody>
</html>
