<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Véglegesítés</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<tbody>
<selection class="layout">
    <div class="headerdiv">
        <h2>FlottaMester</h2>
    </div>
    <div class="logineduserdiv">
        <h2>Bejelentkezve: <span th:text="${session.clientlogined.getName}"/></h2>
    </div>
</selection>

<div id="navigatordiv">
    <a href="/logout">Kijelentkezés</a>
    <a href="/main">Főoldal</a>
    <a href="/filter">Szűrés</a>
</div>
<h1>Kiválasztott járművek:</h1>
<span th:if="${session.bookedcars} == null">
    <h3><a href="/filter">Válassz járművet!</a></h3>
</span>
<span th:unless="${session.bookedcars == null}">
<form action="rent">
    <table class="table">
        <tr><th>Márka</th><th>Típus</th><th>Kategória</th><th>Üzemanyag</th><th>Ár</th></tr>
        <tr th:each="car: ${session.bookedcars}">
            <td align="center" th:text=${car.brand.name.getName}/>
            <td align="center" th:text="${car.type}"/>
            <td align="center" th:text="${car.category.getName}"/>
            <td align="center" th:text="${car.fuel.getName}"/>
            <td th:text="${car.price}"/>
            <td>
                <a th:href="@{/deletecarfromcart(platetodelete=${car.plate})}">törlés</a>
            </td>
        </tr>
    </table><br>
    <br>
    <table cellspacing="2">
        <tr><td align="center">Ár/nap:</td><td align="center"><span th:text="${session.rentprice}"/> Ft</td></tr>
        <tr><td align="center">Bérlés kezdete:</td><td><input name="start_date" type="date"></td></tr>
        <tr><td align="center">Bérlés vége:</td><td><input name="end_date" type="date"></td></tr>
    </table>
    <div class="centercontext">
        <input class="button" type="submit" value="véglegesít">
    </div>
</form>
</span>
</tbody>
</html>