<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="headerstyle.css" />
    <link rel="stylesheet" href="navigatorstyle.css" />
    <link rel="stylesheet" href="tablestyle.css" />
    <link rel="stylesheet" href="buttonstyle.css" />
    <title>Invalid</title>
</head>
<body>
<selection class="layout">
    <div class="headerdiv">
        <h2>FlottaMester</h2>
    </div>
</selection>

    <div id="navigatordiv">
        <a href="/">Belépés</a>
        <a href="/reg">Regisztráció</a>
    </div>

    <h3>Rossz email-cím vagy jelszó!</h3></br>
</body>
</html>