<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>FlottaMester</title>
</head>
<body>
    <div th:if="${param.error}">
        Rossz email-cím vagy jelszó!
    </div>
    <div th:if="${param.logout}">
        Sikeres kijelentkezés!
    </div>
    <h2>Belépés</h2>
    <form action="login" method="post">
    <table>
        <tr><td>Email: </td><td><input type="text" name="emailaddress"></td></tr>
        <tr><td>Jelszó: </td><td><input type="password" name="password"></td></tr>
        <tr><td><input type="submit" value="Belépek"></td><td align="center"><a href="registration">Regisztráció</a></td></tr>
    </table>
</form>
</body>
</html>