<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="headerstyle.css" rel="stylesheet"/>
    <link href="navigatorstyle.css" rel="stylesheet"/>
    <link href="tablestyle.css" rel="stylesheet"/>
    <link href="buttonstyle.css" rel="stylesheet"/>
    <link href="loginformstyle.css" rel="stylesheet"/>
    <title>FlottaMester</title>
</head>
<body>

<selection class="layout">
    <div class="headerdiv">
        <h2>FlottaMester</h2>
    </div>
</selection>

<div id="navigatordiv">
    <a href="/">Belépés</a>
    <a href="/toregiserpage">Regisztráció</a>
</div>

<div class="wrapper">
    <form class="loginform" action="login" method="post">
        <h2>Belépés</h2>
        <input type="text" name="emailaddress" placeholder="Email">
        <input type="password" name="password" placeholder="Jelszó">
        <input class="button" type="submit" value="Belépek">
    </form>
</div>

</body>
</html>