<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<tbody>
<div id="headerdiv">
    <h2>FlottaMester</h2>
</div>

<div id="navigatordiv">
    <a href="/logout">Kijelentkezés</a>
    <a href="/filter">Új bérlés</a>
    <a href="/offers">Ajánlatok</a>
</div>

<font size="+1" style="bold">Bejelentkezve: </font><span th:text="${session.clientlogined.getName}"/></br>

<h1>Aktív bérléseid:</h1>
<span th:if="${session.clientsrental.size} == 0">
        <h3>jelenleg nincs aktív bérlésed!</h3>
    </span>
<span th:unless="${session.clientsrental.size} == 0">
        <table class="table">
            <tr><th>járművek száma</th><th>kezdete</th><th>vége</th><th>Ár</th></tr>
            <tr th:each="rent: ${session.clientsrental}">
                <td th:text=${rent.rentedCars.size}/>
                <td th:text=${rent.begin}/>
                <td th:text=${rent.end}/>
                <td><span th:text="${rent.price}"/> Ft</td>
                <td>
                    <a th:href="@{/resignation(resignatedrentid=${rent.id})}">lemondás</a>
                </td>
            </tr>
        </table>
    </span>
</tbody>
</html>