<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
</head>
<tbody>
<font size="+1" style="bold">Bejelentkezve: </font><span th:text="${session.clientlogined.getName}" /></br>
<form action="logout">
    <input type="submit" value="kijelentkezés">
</form>
<h1>Aktív bérléseid:</h1>
<span th:if="${session.clientsrental.size} == 0">
    <h3>jelenleg nincs aktív bérlésed!</h3>
</span>
<span th:unless="${session.clientsrental.size} == 0">
    <table border="0" cellspacing="2" cellpadding="1">
        <tr bgcolor="lightgray"><th>járművek száma</th><th>kezdete</th><th>vége</th><th>Ár/nap</th></tr>
        <tr th:each="rent: ${session.clientsrental}">
            <td th:text= ${rent.rentedCars.size} align="center"/>
            <td th:text= ${rent.begin} />
            <td th:text= ${rent.end} />
            <td><span th:text="${rent.price}" /> Ft</td>
            <td>
                <a th:href="@{/resignation(resignatedrentid=${rent.id})}">lemondás</a>
            </td>
        </tr>
    </table>
</span>
<br>
<a href="filter">Új bérlés</a></br>
</tbody>
</html>