<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ajánlatok</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<tbody>
<div id="headerdiv">
    <h2>FlottaMester</h2>
</div>

<div id="navigatordiv">
    <a href="/logout">Kijelentkezés</a>
    <a href="/main">Főoldal</a>
</div>
<font size="+1" style="bold">Ajánlat csomag: </font><span th:text="${offertype}"/></br>
<span th:if="${session.offer.size} == 0"><h3>Sajnáljuk, nincs elegendő szabad autónk ehez a csomaghoz!</h3></span>
<span th:unless="${session.offer.size} == 0">
    <table class="table">
        <tr><th>Márka</th><th>Típus</th><th>Kategória</th><th>Üzemanyag</th><th>Ár/nap</th></tr>
        <tr th:each="car: ${session.offer}">
            <td align="center" th:text=${car.brand.name.getName}/>
            <td align="center" th:text="${car.type}"/>
            <td align="center" th:text="${car.category.getName}"/>
            <td align="center" th:text="${car.fuel.getName}"/>
            <td th:text="${car.price}"/>
        </tr>
    </table><br>
    <form action="rentoffer">
        <table>
            <tr><td>Bérlés kezdete:</td><td><input name="start_date" type="date"></td></tr>
            <tr><td>Bérlés vége:</td><td><input name="end_date" type="date"></td></tr>
        </table>
        <div class="centercontext">
        <input class="button" type="submit" value="megrendelem">
        </div>
    </form>
</span>
</tbody>
</html>