<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
</head>
<body>
<form action="register">
    <h2>Regisztráció</h2>
    <table>
        <tr><td>Név: </td><td><input type="text" name="name"></td></tr>
        <tr><td>Email cím: </td><td><input type="text" name="email"></td></tr>
        <tr><td>Jelszó: </td><td><input type="password" name="password"></td></tr>
        <tr><td><input type="submit" value="Regisztrálok"></td></tr>
    </table>
</form>
</body>
</html>