<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
<form action="register">
    <div id="headerdiv">
        <h2>FlottaMester</h2>
    </div>

    <div id="navigatordiv">
        <a href="/">Belépés</a>
        <a href="/registerpage.html">Regisztráció</a>
    </div>
    <h2>Regisztráció</h2>
    <table>
        <tr>
            <td>Név:</td>
            <td><input name="name" type="text"></td>
        </tr>
        <tr>
            <td>Email cím:</td>
            <td><input name="email" type="text"></td>
        </tr>
        <tr>
            <td>Jelszó:</td>
            <td><input name="password" type="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Regisztrálok"></td>
        </tr>
    </table>
</form>
</body>
</html>